@import "variables";

/* keyframes */
@keyframes colorChangeKeyframes {
  0% {
    background-color: $primary;
  }
  25% {
    background-color: $primary-blue;
  }
  50% {
    background-color: $primary-darkblue;
  }
  75% {
    background-color: $primary-yellow;
  }
  100% {
    background-color: $primary;
  }
}


/* animations */
@mixin colorchange {
  animation: 8s cubic-bezier(.65,.05,.36,1) infinite colorChangeKeyframes;
}
