@import "variables";
@import "mixins";
@import "animations";

:root {
  font-size: $font-size;
}
html {
  margin: 0;
  padding: 0;
}
body {
  text-rendering: optimizeSpeed;
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar-thumb {
    background-color: $primary;
  }
}
h1 {
  margin: 0.5rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
.app {
  padding: 0rem 8rem 0rem 8rem;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.brand {
  font-size: 1rem;
  color: $primary-white;
  font-family: "Montserrat", sans-serif;
  margin-left: 2rem;
  font-weight: 900;
  margin-right: 2rem;
}
.article {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@for $size from 6 to 8 {
  .spacer-#{$size} {
    $temp: unquote($size + "rem");
    margin-top: $temp;
  }
}

.skeletal-box {
  @include flex(row, center);
  align-content: center;
  align-self: center;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 15rem;
}
.form {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 1rem;
}
.nav-bar {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  color: $primary-white;
  background-color: $primary;
  border-radius: 0px 0px 20px 10px;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
}
.nav-list {
  padding-left: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
}
.nav-link {
  display: block;
  color: $primary-white;
  text-decoration: none;
  font-weight: 500;
  a {
    color: $primary-white;
    text-decoration: none;
    font-size: 12px;
  }
}
Link,
.link {
  text-decoration: none;
  outline: none;
  &:active {
    text-decoration: none;
    border: none;
    outline: none;
  }
  &:focus {
    text-decoration: none;
    border: none;
  }
}
.img-box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-item {
  border-radius: 8px;
  padding: 0.5rem;
  text-decoration: none;
  margin: 0 0 0 1rem;
  &:hover {
    background-color: $primary-white;
    color: $primary-black;
    transition: ease-in 200ms;
    .nav-link {
      color: $primary-black;
    }
  }
  &:active {
    font-weight: bold;
  }
}

.jumbo-img {
  padding: 1rem;
  margin: 1rem;
}
.no-m-p {
  margin: 0;
  padding: 0;
  align-items: stretch;
  align-content: stretch;
  text-decoration: none;
}
.animated-notice {
  @include colorchange();
}
/* for card */

.envelope {
  @include grid();
}
.card {
  margin: 1rem;
  border-radius: 8px;
  @include card($primary-white);
  .card-content {
    padding: 1rem;
    text-overflow: clip;
    overflow: fade(10px);
  }
  .card-img {
    border-radius: 8px 8px 0px 0px;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .card-title {
    font-weight: 600;
  }
}
button {
  padding: 0.5rem;
  background-color: $primary-white;
  color: $primary-black;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  border: 2px $primary solid;
  transition: ease-in 200ms;
  &:hover {
    background-color: $primary;
    color: $primary-white;
  }
}
.about-para {
  line-height-step: 1;
  padding: 1rem;
}
.left-para {
  position: absolute;
  left: -200px;
}
.right-para {
  text-align: right;
  position: absolute;
  right: -200px;
}
@for $delay from 1 to 3 {
  .slide-in-l-#{$delay} {
    $temp: unquote($delay + "s");
    @include slidein($temp, "left");
  }
}
@for $delay from 1 to 3 {
  .slide-in-r-#{$delay} {
    $temp: unquote($delay + "s");
    @include slidein($temp, "right");
  }
}
.footer {
  @include flex(column, center);
  width: 100%;
  margin-top: 3rem;
  background-color: $primary;
  color: $primary-white;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
  .footer-title {
    align-self: center;
  }
  .footer-content {
    padding: 1rem;
    align-self: center;
  }
}

@media only screen and (max-width: 1000px) {
  .app {
    margin: 0;
    padding: 0;
  }
  .no-m-p {
    flex-direction: column;
  }
  .envelope {
    @include flex(column, center);
  }
  .brand {
    padding: 0;
    margin: 0;
    text-overflow: clip;
  }
  .vol-cont {
    @include flex(column, center);
  }
  .jumbo-img {
    margin: 0;
    margin-left: 2rem;
    padding: 0;
  }
  .nav-item {
    margin: 0.2rem;
  }
  .spacer {
    margin: 5rem;
  }
}

@media all and (display-mode: standalone) {
  body {
    text-rendering: optimizeLegibility;
  }
}
