@import "mixins";
@import "variables";

.footer {
  margin-top: 15rem;
  background-color: #e5e5e5;
  color: $primary-black;
  @include flex(column, center);
  .contactbox {
    @include flex(row, center);
    .yrc-contact {
      @include flex(row, center);
      align-self: flex-start;
    }
    .vec-contact {
      @include flex(row, center);
      align-self: flex-end;
    }
  }
  .socialicons {
    @include flex(row, center);
    align-items: center;
  }
  .link-box {
    @include flex(row, center);
  }
}
@for $val from 1 to 10 {
  .padding-#{$val} {
    $temp: unquote($val + "rem");
    padding: $temp;
  }
}
@for $val from 1 to 10 {
  .margin-#{$val} {
    $temp: unquote($val + "rem");
    margin: $temp;
  }
  .margin-rl-#{$val} {
    $temp: unquote($val + "rem");
    margin-right: $temp;
    margin-left: $temp;
  }
}
.fb {
  @include flex(row, center);
}
.fb-c {
  @include flex(column, center);
}
.mb {
  @include flex(row, center);
  justify-content: center;
  align-content: center;
  padding: 0.5rem;
}
.hyper-link {
  text-decoration: none;
  color: $primary;
  &::after {
    color: $primary-black;
  }
}
.imgs {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.jumbo {
  background-color: $primary-bg;
  @include flex(row, center);
  justify-content: space-evenly;
  align-content: center;
  padding: 1rem;
  border-radius: 8px;
  color: $primary-black;
  box-shadow: $secondary-shadow-dark;
  .jumbo-btn {
    margin: 0.2rem;
    background-color: $primary;
    border: 2px solid $primary;
    color: $primary-white;
    box-shadow: $primary-shadow-jumbo;
    font-weight: 600;
    transition: ease-in-out 500ms;
    &:hover {
      border: 2px solid $primary;
      background-color: $primary-white;
      color: $primary-black;
    }
  }
  .jumbo-btnbar {
    @include flex(row, center);
  }
}

@media only screen and (max-width: 1000px) {
  .mb {
    flex-direction: column;
  }
  .imgs {
    height: 200;
  }
  .jumbo {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .list-no-style {
    margin: 0;
    padding: 1rem;
    list-style: none;
    text-align: center;
  }
  .paper {
    @include flex(column, none);
    box-shadow: $primary-shadow;
  }
  .img-holder {
    padding: 0;
    margin: 0;
    height: 200;
    width: 200;
  }
  .jumbo-img {
    margin: 0;
    height: auto;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .footer {
    display: none;
  }
}
@media all and (display-mode: standalone) {
  .footer {
    display: none;
  }
}
