$font-size: "16px";

/* colors Primary */
$primary: #e84a5f;
$primary-bg: #ffffff;
$primary-white: #ffffff;
$primary-white-transperant: rgba(255, 255, 255, 0.9);
$primary-black: #000000;
$primary-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
$primary-shadow-jumbo: 0px 4px 4px rgba(0, 0, 0, 0.25);;
$primary-shadow-white: 2px 2px 8px rgba(255, 255, 255, 0.3);
$secondary-shadow-dark: 2px 2px 8px rgba(0, 0, 0, 0.3);
$primary-blue: #32e0c4;
$primary-yellow: #f3c623;
$primary-darkblue: #303960;
